DATABASE_URL="your-db-url"
APP_URL="http://localhost:4000"

DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="your-database-name"
DATABASE_HOST="localhost"
DATABASE_PORT=your-database-port


JWT_SECRET=your-secret

SMTP_HOST='your-smtp-host'
SMTP_PORT='your-smtp-port'
SMTP_USER='user-email'
SMTP_PASS='your-smtp-pw'

FRONTEND_URL="http://localhost:3000"

# CloudFlare
CF_TURNSTILE_SECRET_KEY='secret-key'
