name: Deploy Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          password: ${{ secrets.EC2_PASSWORD }}
          script: |
            set -e
            cd /home/myapps/All_Sports_Khelo_NODEJS
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            npm install --production
            pm2 restart askbackend 
